In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

In [2]:

borders = pd.read_csv('GEODATASOURCE-COUNTRY-BORDERS.csv')
data15 = pd.read_csv('2015.csv')
data16 = pd.read_csv('2016.csv')
data17 = pd.read_csv('2017.csv')
data17 = data17.rename(columns = {'Happiness.Score': 'Happiness Score'})

In [3]:
borders = borders[['country_name', 'country_border_name']]
borders = borders[borders['country_border_name'].notnull()]
data15 = data15[['Country', 'Happiness Score']]
data16 = data16[['Country', 'Happiness Score']]
data17 = data17[['Country', 'Happiness Score']]

In [4]:

borders = pd.merge(borders, data15, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2015'})
borders = pd.merge(borders, data16, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2016'})
borders = pd.merge(borders, data17, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2017'})
borders = borders.rename(columns = {'country_name': 'Country Name', 
                                    'country_border_name': 'Country Border Name',})

In [5]:
borders

,Country Name,Country Border Name,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017
0,Andorra,France,6.575,6.478,6.442
1,Belgium,France,6.575,6.478,6.442
2,Switzerland,France,6.575,6.478,6.442
3,Germany,France,6.575,6.478,6.442
4,Spain,France,6.575,6.478,6.442
...,...,...,...,...,...
481,Saudi Arabia,United Arab Emirates,6.901,6.573,6.648
482,Oman,Yemen,4.077,3.724,3.593
483,Saudi Arabia,Yemen,4.077,3.724,3.593
484,Saudi Arabia,Qatar,6.611,6.375,6.375
485,United States,Canada,7.427,7.404,7.316

In [6]:
# X = borders.drop(['Happiness Score 2016','Happiness Score 2017'], axis=1)
# y = borders['Happiness Score 2017'].values

In [7]:
# Xtrain, Xtest, ytrain, ytest = train_test_split(X,y)
# Xtest

In [8]:
happiness_across_countries = pd.read_csv('Happiness_across_the_year.csv')

In [9]:
data18 = pd.read_csv('WorldHappiness2018_Data.csv')
data18 = data18.iloc[:,[1,2]]
data18 = data18.rename(columns={'Score':'Happiness Score 2018'})
happiness_across_countries = pd.merge(happiness_across_countries, data18, how='inner', left_on='Country', right_on='Country')
happiness_across_countries

,Unnamed: 0,Country,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018
0,0,Switzerland,7.587,7.509,7.494,7.487
1,1,Iceland,7.561,7.501,7.504,7.495
2,2,Denmark,7.527,7.526,7.522,7.555
3,3,Norway,7.522,7.498,7.537,7.594
4,4,Canada,7.427,7.404,7.316,7.328
...,...,...,...,...,...,...
139,141,Rwanda,3.465,3.515,3.471,3.408
140,142,Benin,3.340,3.484,3.657,4.141
141,143,Syria,3.006,3.069,3.462,3.462
142,144,Burundi,2.905,2.905,2.905,2.905
143,145,Togo,2.839,3.303,3.495,3.999

In [10]:
happiness_across_countries = happiness_across_countries.drop(['Unnamed: 0','Country'],axis=1)

In [18]:
X_15_16 = happiness_across_countries.iloc[:,[0,1]].values
y_15_16 = happiness_across_countries.iloc[:,[2]].values
Xtrain_15_16, Xtest_15_16, ytrain_15_16, ytest_15_16 = train_test_split(X_15_16,y_15_16)

model = LinearRegression()
model.fit(Xtrain_15_16, ytrain_15_16)
model.score(Xtest_15_16,ytest_15_16)

Xtrain_15_16

array([[4.857, 5.033],
       [3.931, 3.739],
       [4.218, 4.217],
       [4.332, 3.974],
       [5.36 , 5.061],
       [5.96 , 6.218],
       [7.378, 7.339],
       [6.295, 6.239],
       [5.477, 5.648],
       [3.989, 4.236],
       [6.67 , 6.705],
       [7.522, 7.498],
       [4.788, 4.871],
       [4.517, 4.272],
       [6.786, 6.701],
       [5.605, 6.355],
       [6.455, 6.474],
       [5.987, 5.921],
       [7.187, 6.778],
       [6.867, 6.725],
       [5.098, 5.56 ],
       [6.983, 6.952],
       [7.364, 7.291],
       [3.681, 3.695],
       [6.937, 6.929],
       [6.946, 6.871],
       [5.848, 5.768],
       [6.485, 6.545],
       [5.194, 5.132],
       [4.839, 5.129],
       [5.878, 5.538],
       [5.102, 5.123],
       [5.791, 5.835],
       [5.77 , 6.005],
       [7.286, 7.334],
       [3.006, 3.069],
       [6.003, 5.987],
       [3.896, 4.121],
       [5.286, 5.185],
       [5.253, 5.196],
       [5.013, 5.151],
       [7.527, 7.526],
       [6.94 , 6.907],
       [7.427, 7.404],
       [5.89 , 5.822],
       [6.575, 6.478],
       [7.284, 7.313],
       [3.819, 3.907],
       [5.754, 5.615],
       [7.119, 7.104],
       [4.642, 4.459],
       [5.129, 4.795],
       [4.077, 3.724],
       [4.885, 5.155],
       [6.329, 6.361],
       [5.759, 5.488],
       [6.302, 6.488],
       [6.611, 6.375],
       [5.709, 5.51 ],
       [3.465, 3.515],
       [4.35 , 4.36 ],
       [4.252, 4.513],
       [5.833, 5.813],
       [4.677, 4.575],
       [5.975, 5.976],
       [4.739, 5.045],
       [5.948, 5.977],
       [4.507, 4.635],
       [6.13 , 6.068],
       [5.192, 5.161],
       [5.332, 5.389],
       [4.949, 5.163],
       [6.574, 6.65 ],
       [4.271, 4.415],
       [4.681, 4.324],
       [4.8  , 5.145],
       [5.689, 5.546],
       [5.589, 5.401],
       [6.75 , 6.994],
       [2.905, 2.905],
       [4.307, 4.395],
       [4.715, 4.754],
       [6.81 , 6.084],
       [4.514, 4.793],
       [7.226, 7.087],
       [3.587, 3.739],
       [3.904, 4.219],
       [4.512, 4.508],
       [4.436, 4.201],
       [3.781, 3.666],
       [4.571, 3.622],
       [5.124, 5.528],
       [5.716, 5.856],
       [6.901, 6.573],
       [4.786, 4.996],
       [4.033, 3.866],
       [5.813, 5.802],
       [4.633, 4.276],
       [3.656, 3.607],
       [6.505, 6.596],
       [5.123, 5.177],
       [4.959, 4.655],
       [4.61 , 4.193],
       [4.518, 4.028],
       [6.411, 6.379],
       [5.889, 5.897],
       [3.655, 3.916],
       [5.984, 5.835]])

In [12]:
happiness_across_countries

,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018
0,7.587,7.509,7.494,7.487
1,7.561,7.501,7.504,7.495
2,7.527,7.526,7.522,7.555
3,7.522,7.498,7.537,7.594
4,7.427,7.404,7.316,7.328
...,...,...,...,...
139,3.465,3.515,3.471,3.408
140,3.340,3.484,3.657,4.141
141,3.006,3.069,3.462,3.462
142,2.905,2.905,2.905,2.905
143,2.839,3.303,3.495,3.999

In [15]:
X_15_16 = happiness_across_countries.iloc[:,[1,2]].values
y_15_16 = happiness_across_countries.iloc[:,[3]].values
# Xtrain_15_16, Xtest_15_16, ytrain_15_16, ytest_15_16 = train_test_split(X_15_16,y_15_16)

model = LinearRegression()
model.fit(Xtrain_15_16, ytrain_15_16)
model.score(Xtest_15_16,ytest_15_16)

0.9684544142132365